body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.main-content {
    background-color: #FFD700;
    padding: 100px 0;
    text-align: center;
    color: #333;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
}


.section-content {
    padding: 50px;
    text-align: center;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-top: 30px;
}


